body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.back-arrow {
    text-decoration: none;
    color: white;
    font-size: 20px;
    left: 0;
}

.container {
    background-color: #111419;
    padding: 20px;
    border-radius: 10px;
    height: 896px;
    width: 414px;
    height: 600px;
    top: 400px;
    left: 361px;
}


.content {
    text-align: left;
    margin: 20px;
    color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
    color: white;
    left: 0;
    width: 242px;
    font-size: 20px;
    font-weight: 450;
    line-height: 24px;
    text-align: left;
    display: block;
}

h4 {
    color: #919699;
}

.input-field {
    position: relative;
}

.input-field i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: gray;
}

.input-field input {
    background-color: #202028;
    color: white;
    width: 366px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 16px;
    padding-left: 30px;
    gap: 8px;
    border: none;
}

button {
    background-color: #202028;
    line-height: 150%;
    color: white;
    width: 100%;
    padding: 12px 30px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 280px;
}

button:hover {
    background-color: blue;
}
